body {
    margin: 0;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
}

#monCanvas {
    border: 2px solid black;
    background-color: lightgray;
}

h1 {
    margin-bottom: 20px;
}
